* {
    box-sizing: border-box;
    margin: 0;
}
body {
    font-family:Arial, Helvetica, sans-serif;
    margin-top: 20px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.container {
    margin: 20px;
    display: flex;
    align-items: stretch;
    flex-flow: column;
    width: 810px;
    height: 810px;
    border: 10px solid black;
}

.row {
    display: flex;
    justify-content: space-between;
    flex: 1;
}

.square {
    background-color: rgb(255, 255, 255);
    flex: 1 0 0%;
}

#buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.button {
    background-color: #ffa365;
    color: white;
    border: 0;
    border-radius: 50px;
    box-shadow: 0px 2px 6px 1px grey;
    height: 40px;
    font-size: large;
    font-weight: 700;
    cursor: pointer;
}

.button:active {
    background-color: #da8954;
}